<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome to my app!</h1>
<p>Sign up <%= link_to "about", "about_path"%>.</p>
<p>Sign up <%= link_to "home", "root_path"%>.</p>

<%= yield %>

</body>
</html>
